a,
a:link,
a:visited{ color: #009; }
a:hover,
a:active{ color: #900; }
a img{ border: 0; }

body{ min-width: 600px; }

body h1,
body h2,
body h3,
.title{ font-family: "Trebuchet MS", Verdana, sans-serif; }

.fixed_width{ font-family: "Monaco", "Courier New", "Courier", monospace; }

.clear:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Rule to fix quirks-mode inheritance behavior */
table{ font-size: inherit; font-weight: inherit; font-style: inherit; font-variant: inherit; }

#copyright,
#legal{ white-space: nowrap; }

#switch_to_mobile{ margin-bottom:5px; display:block; float:right }

#plans_info td,
#account_plans td,
#info_content td{ white-space: normal; }

dt{ font-weight: bold; }
dd{ padding-bottom: 10px; }

form{ margin: 0px; padding: 0px; }

.icon_adjust img,
.icon_adjust img.help_button{ position: relative; top: 4px; margin-top: -4px; }

img.help_button{ position: relative; top: 3px; margin-top: -3px; }

.error_explanation{ color: #fff; margin: 20px 0 !important; border-top: 2px solid #700; border-bottom: 2px solid #700; background: #900; padding: 0; }
.error_explanation h2{ color: #600; border: 0; }
.error_explanation ul{ margin-left: 20px; }
.error_explanation ul li{ padding: 0; list-style-type: disc; }

.panel .error_explanation{ color: #fff; margin: 0; position: relative; }
* html .panel .error_explanation{ left: 0; top: 0; }

table th a{ text-decoration: none; }

table.pretty { border: 1px solid #ccc; table-layout: fixed; border-collapse: collapse; width: 100%; }
table.pretty th { border: 1px solid #ccc; padding: 3px; font-weight: bold; text-align: left; background-color: #ccc; color: #444; }
table.pretty th a { text-decoration: none; color: #900; }
table.pretty td { border: 1px solid #ddd; padding: 3px; color: #666; font-size: 8pt; }
table.pretty td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

table.centered th { text-align: center; }
table.centered td { text-align: center; }

table.invisible,
table.pretty table.invisible { border: 0px; border-collapse: collapse; }
table.invisible th,
table.pretty table.invisible th{ border: 0px; padding: 3px; text-align: left; }
table.invisible td,
table.pretty table.invisible td{ border: 0px; padding: 3px; }
table.invisible td td,
table.pretty table.invisible td td{ padding: 0px; }

.new_object{ background-color: #ffd; border: 1px solid #bb9; padding: 10px; margin: 10px; }
.notice{ background-color: #efe; border: 1px solid #bdb; padding: 10px; margin: 10px; }
.notice h3{ color: #585; }
 
.object_edit h2{ padding-top: 5px; color: #000; }
.object_edit textarea{ width: 100%; height: 100px; border: 1px solid #aaa; }
.object_edit input.title{ width: 100%; font-size: 15pt; border: 1px solid #aaa; }
.object_edit .actions{ text-align: right; margin-top: 10px; }
.object_edit .label{ margin-top: 10px; font-weight: bold; }
.object_edit .form_note{ text-align: right; font-size: 8pt; }
.object_edit .section{ margin-left: 0px; padding: 5px 10px; margin-top: 10px; }

.page_form h2{ padding-top: 15px; }
.page_form h3{ margin: 0 0 5px 0; padding: 5px 10px; color: #fff; background: #888; }
* html .page_form h3{ height: 1%; }
.page_form .error_explanation h3{ margin: 0; background: transparent; padding: 5px 0; color: #fff; }
.page_form textarea{ width: 100%; height: 100px; border: 1px solid #aaa; }
.page_form input[type=text],
.page_form input[type=password]{ border: 1px solid #aaa; }
.page_form input.title{ width: 100%; font-size: 15pt; border: 1px solid #aaa; }
.page_form input.title_right{ width: 100%; font-size: 15pt; border: 1px solid #aaa; text-align: right; }
.page_form span.title{ font-size: 15pt; }
.page_form .actions{ text-align: right; margin-top: 10px; }
.page_form .label{ margin-top: 10px; font-weight: bold; }
.page_form .panel{ background: #ececec; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px; margin: 0 0px 20px 0px; }
.page_form .form_note{ color: #666; font-size: 10px; font-style: italic; }
.page_form label.disabled{ color: #666; }
.page_form .section{ margin-left: 20px; border-left: 5px solid #cc9; padding: 5px 10px; margin-top: 10px; }
.page_form tr.separator td,
div.separator{ height: 1px; font-size: 0; background: none; visibility: hidden; padding: 10px; margin: 0; }
* html .page_form .separator{ display: none; }

div.note,
td.note,
table.pretty div.note,
table.pretty td.note,
table.invisible div.note,
table.invisible td.note{ font-size: 9px; margin: 0; padding: 0; }
p.note{ font-size: 9px; color: #555; margin: 0; padding: 0; }

.row_0{ background: #ececec; }
.row_1{ background: #fff; }

img.cvv{ position: relative; top: 4px; margin-right: 5px; }

.over{ color: #990000; font-weight: bold; }
.under{  }

.date_picker_link img{ position: relative; top: 2px; }

.date_picker{ display: none; position: absolute; left: 0; z-index: 1000; background-color: #fff; padding: 5px; border: 2px solid #ccc; }
.date_picker .actions{ text-align: right; margin: 5px 0 0 0; }
.date_picker table{ border: 1px solid #ccc; font-family: verdana, sans-serif; border-collapse: collapse; }

.date_picker th{ background: #fff; font-size: 10px; color: #333; text-align: center !important; border: 0; padding: 2px 0; }
.date_picker th a:hover{ background: #fff; }
.date_picker .day_labels th{ color: #333; background: #ccc; border: 1px solid #bbb; border-top: 0px; border-bottom: 1px solid #e4e4e4;  font-size: 9px; font-weight: normal; text-align: center; }

.date_picker td{ width: 18px; background-color: #fff; border: 1px solid #e4e4e4; font-size: 9px; text-align: left; padding: 0; }
.date_picker td.today{ background-color: #e4e4e4; }
.date_picker td.selected a{ background-color: #fcc; border: 1px solid #900; padding: 1px; }

.date_picker td a{ display: block; width: auto; padding: 2px; text-decoration: none; color: #333; }
.date_picker td a:hover{ color: #000; background-color: #CCDAFF; padding: 1px; border: 1px solid #6666FF; }

.date_picker .cancel_butt{ text-align: right; }
.date_picker .cancel_butt a{ font-size: 9px; color: #666; font-family: verdana, sans-serif; text-decoration: none; padding: 1px 2px; }
.date_picker .cancel_butt a:hover{ background-color: #fff; color: #000; }

.date_picker .nil_butt{ text-align: left; float: left; }
.date_picker .nil_butt a{ font-size: 9px; color: #666; font-family: verdana, sans-serif; text-decoration: none; padding: 1px 2px; }
.date_picker .nil_butt a:hover{ background-color: #fff; color: #000; }

/** Documentation **/

.documentation_wrapper:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .documentation_wrapper{ height: 1%; }

div.code_wrapper { padding: 3px; border: 1px solid #aaa; background: #e6e6dd;}
div.code_wrapper pre { margin: 0; }
.documentation_wrapper pre{ border: 1px solid #ccc; padding: 10px; margin: 10px; background: #f8f8ee url(../images/code.bg.gif) 0 -5px repeat; }
.documentation_wrapper div>pre{ overflow: auto; border: 1px solid #ccc; padding: 10px; }
.documentation_wrapper pre code{ font-family: "Monaco", "Courier New", "Courier", monospace; font-size: 10px; line-height: 15px; }
* html .documentation_wrapper pre{ overflow-x: auto; width: 95%; padding-bottom: 30px; padding-top: 8px; line-height: 15px; }
* html .documentation_wrapper pre code{ font-size: 11px; }

.documentation_wrapper h1{ border-bottom: 2px solid #333; position: relative; clear: left; margin-bottom: 2px;}
.documentation_wrapper h2{ border-bottom: 2px solid #333; position: relative; clear: left; }
.documentation_wrapper h3{ border-bottom: 1px solid #333; position: relative; clear: left; }

/* has layout */
* html .documentation_wrapper h1,
* html .documentation_wrapper h2,
* html .documentation_wrapper h3{ width: 100%; }

.documentation_wrapper ul.documentation_index { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.documentation_wrapper ul.documentation_index li { display: inline; white-space: nowrap; color: #666;}

.documentation_wrapper dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .documentation_wrapper dl{ height: 1%;}
.documentation_wrapper dt{ float: left; clear: left; margin: 8px 0 5px 0; }
.documentation_wrapper dd{ float: left; margin: 8px 0 5px 5px;}
.documentation_wrapper dd.block{ clear: left; float: none; margin: 0; }
.documentation_wrapper dd.api_url{ position: relative; clear: left; float: none; margin: 0 15px 0 15px; padding: 3px 0 3px 0; border-bottom: 1px dotted #999; }
.documentation_wrapper dd.api_url div.actions{ position: absolute; right: 0px; bottom: 2px; margin-left: 15px; color: #900; }

.documentation_wrapper dd.no_float,
.documentation_wrapper dd.no_float dt{ float: none; clear: left; }
.documentation_wrapper dd.no_float dd{ margin: 5px; }

.documentation_wrapper dl dl{ margin: 0 0 0 12px; }
.documentation_wrapper dl dl dt{ margin: 0; }
.documentation_wrapper dl dl dd{ padding: 0; margin-left: 1em; }
.documentation_wrapper dl dl dt{ margin-left: 0; }

.documentation_wrapper .list_table{ }


.documentation_wrapper .code_wrapper .tag_read_write{ color: #013; }
.documentation_wrapper .code_wrapper .tag_read_write_tag{ color: #000; }
.documentation_wrapper .code_wrapper .tag_read_write_quote{ color: #000; }

.documentation_wrapper .code_wrapper .tag_read_only{ color: #922; }
.documentation_wrapper .code_wrapper .tag_read_only_tag{ color: #844; }
.documentation_wrapper .code_wrapper .tag_read_only_quote{ color: #844; }

.documentation_wrapper .code_wrapper .tag_instruct{ color: #cf2e2e; }
.documentation_wrapper .code_wrapper .tag_instruct_tag{ color: #bb2a2a; }
.documentation_wrapper .code_wrapper .tag_instruct_quote{ color: #bb2a2a; }

.documentation_wrapper .code_wrapper .tag_highlight{ color: #a28200; }
.documentation_wrapper .code_wrapper .tag_comment{ color: #8d8d6c; }

.documentation_wrapper h2 .documentation_link_top { position: absolute; bottom: 1px; right: 0px; font-size: 12px; font-weight: normal; }

.documentation_contents h2,
.documentation_contents h3{ margin-bottom: 3px; }
.documentation_contents ul{ margin: 0; padding-left: 0; list-style-type: none; }
.documentation_contents li{ margin-left: 0; padding-left: 10px; }

.documentation_wrapper .notice .documentation_index li{ list-style-type: none; margin-left: 0; padding-left: 0; }
.documentation_wrapper .notice h3{ border-bottom: 0; }
.documentation_wrapper .notice h2{ border-bottom: 1px solid #333; color: #010; }
.notice div.code_wrapper,
#help_content table.pretty div.code_wrapper{ border: 1px solid #aaa; background: #cec;}
.documentation_wrapper .notice pre,
#help_content.documentation_wrapper table.pretty pre{ background: #fff url(../images/code.notice.bg.gif) 0 -5px repeat; }

/***** IE *****/
* html img { behavior: url("../stylesheets/png.repair.htc"); }
* html .ie_height_fixer{ height: 1%; }